!padding = 5px


h1
  height: 118px
  margin-top: 1em

.tagline
  font-size = !padding
  text-align: right
  
  span
    a
      font-size: 26px
      text-align: right
    
    //comment
    
    
    .hello
      stuff: 23px //comment
    
    &:hover, &:active
      background-color: #FFF
      
  h3
    padding: 5px