!padding = 5px


h1
  height: 118px
  margin-top: 1em

.tagline
  font-size = !padding
  text-align: right
  
  span
    font-size: 26px
    text-align: right
    
    // test
    .hello
      stuff: 23px
    
    &:hover, &:active
      background-color: #FFF
      
  h3
    padding: 5px