!padding = "5px"


h1
  height: 118px
  margin-top: 1em

.tagline
  font-size: 26px
  text-align: right
  
  span
    font-size: 26px
    text-align: right
    
    .hello
      stuff: 23px
    
    &:hover, &:active
      background-color: #FFF
      
  h3
    padding: 5px